@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700,800,900|Oswald:100,200,300,400,500,600,700');

/*--------------------------------------------HEADER-heading*/

.name {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 45px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 55px;
    color: #fff;
}

.heading {
    text-align: center
}

.logo {
    background: url("../images/agui.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 258px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    float: right; 
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 28px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:  #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fff;
    font-size: 28px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

/*--------------------------------------------Header-Colors*/

.bg-color-name-title {
    background-color: #293746;
}

.ui-menu-color-home {
    background-color: #77180b;
}

.ui-menu-color-resume {
    background-color: #4366a7;
}

.ui-menu-color-hire {
    background-color: #332828ab; 
}

.ui-menu-color-contact {
    background-color: #e2c20a;
}

/*--------------------------------------------Header-Hover.css*/
.hvr-bounce-to-right:before {
    background:rgba(0,0,0,0.2);
    height: 120px;
}

/*--------------------------------------------SECTION-work-specialty-network-connections*/

.my-work {
    margin-top: 100px;
    padding-left: 90px;
}

.my-work-specialty-logo {
    color: #e2c20a; 
}
.my-work-items {
    padding-left: 95px;
    text-align: justify;
    width: 100%;
}

.hr-1 {
    background-color: #00FF00;
    margin: 0;
    width:100%;
}
.my-specialty {
    margin-top: 50px;
    padding-left: 90px;
}

.my-specialty-items {
    padding-left: 95px;
    text-align: justify;
    width: 100%;
}

.my-network {
    margin-top: 100px;
    padding-right: 90px;
}

.my-network-connections-logo  {
    color: #e2c20a; 
}

.my-network-items {
    padding-right: 90px;
    text-align: justify;
    width: 100%;
}

.my-connections {
    margin-top: 50px;
    padding-right: 90px;
}

.my-connections-items {
    padding-right: 60px;
    text-align: justify;
    width: 100%;
}

/* ----------------------------------------SECTION-about Me */

#about-me {
    margin-top: 30px;
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
}

#about-me-item {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 100%;
}

#center-about {
    width: 100%;
    margin: 0 auto;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-style: solid;
    border-color: #00FF00;
    border-width: 2px;
    border-radius: 100%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('https://i.imgur.com/LqgfZ1C.jpg') no-repeat center center;
    height: 100%;
    border-radius: 100%;
}

/* ----------------------------------------Footer */

footer {
    background-color: #293746;
    color: #fff;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #00FF00;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:  #00FF00;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}



